<div id="commentsContainer" class="container col-lg-3 col-md-3 col-sm-3">
    <h5>Komentari:</h5>
    <div>
        <span><b>ante:</b></span>
        <p>ksdjhf kjdfhs kjhdf kjhfs kfjd</p>
    </div>
    <div>
        <span><b>mate:</b></span>
        <p>dskj jsdfh kjdh khfsjd hsfdk dsf sifh kdjfh sdkfjhsd ksjdh fksdf hkj kdshjf ksjdh sdf jsdhf ds</p>
    </div>
    <div>
        <span><b>ante:</b></span>
        <p>ksdhf ksjdhf skjds hjh</p>
    </div>
</div>
<div id="fileContainer" class="container col-lg-9 col-md-9 col-sm-9">
    <div id="descriptionContainer">
        <h4>prvi_kol_2013/14.pdf, Josipa Barić </h4>
        <p>Opis: zadaci za prvi kolokvij, generacija 2013/14</p>
    </div>
    <div id="filePreviewContainer" >
        <embed src="C:\Users\anja\Desktop\faks\1. semestar\Matematika 1\1.\ kolokvij\kolokviji\grupa2.pdf" alt="pdf" width="500" height="700"/>
    </div>
</div>