<h2 id="pageTitle">Odaberi smjer:</h2>

<div class="container left col-lg-8 col-md-8 col-sm-8">
    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Preddiplomski
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">110 Elektrotehnika</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="/Courses/Index">120 Računarstvo</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">130 Strojarstvo</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">140 Brodogradnja</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">150 Industrijsko inženjerstvo</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Stručni
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">410 Elektrotehnika stručni studij</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">430 Strojarstvo stručni studij</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">440 Brodogradnja stručni studij</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">450 Računarstvo stručni studij</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Razlikovni
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">910 Automatika i sustavi</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">920 Elektronika i računalno inženjerstvo</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">930 Elektrotehnika</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">940 Komunikacijska i informacijska tehnologija</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">950 Računarstvo</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">960 Strojarstvo</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Diplomski
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">210 Automatika i sustavi</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">220 Elektronika i računalno inženjerstvo</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">230 Elektrotehnika</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">250 Računarstvo</a></li>
        </ul>
    </div>
</div>
<div class="container right col-lg-4 col-md-4 col-sm-4">
    <div class="well rightContainer">
        Forum
    </div>
    <div class="well rightContainer">
        Dodaj novu datoteku
    </div>
    <div class="well rightContainer">
        Javi nam se!
    </div>
</div>