<h2 id="pageTitle">Preddiplomski / Računarstvo / Odaberi semestar:</h2>

<div class="container left col-lg-8 col-md-8 col-sm-8">
    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            1. semestar
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">Elektrotehnika</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Fizika 1</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="/Subjects/Index">Matematika 1</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Uvod u računala i programiranje</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Engleski jezik 1</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            2. semestar
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">Elektronika</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Fizika 2</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Matematika 2</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Programiranje</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Engleski jezik 2</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            3. semestar
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">Diskretni sustavi i strukture</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Objektno orijentirano programiranje</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Diskretna matematika</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Strukture podataka</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Komunikacijske vještine</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Praktikum</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            4. semestar
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">Algoritmi</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Arhitektura digitalnih računala</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Baze podataka</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Signali i sustavi</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Vjerojatnost i statistika</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            5. semestar
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">Operacijski sustavi</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Programsko inženjerstvo</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Programiranje za Internet</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Računalne mreže</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Programiranje za UNIX</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Sigurnost računala i podataka</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            6. semestar
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">Projektiranje informacijskih sustava</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Uvod u distribuirane informacijske sustave</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Poslovna informatika</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Bežične senzorske mreže</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">Programiranje za Windows</a></li>
        </ul>
    </div>
</div>
<div class="container right col-lg-4 col-md-4 col-sm-4">
    <div class="well rightContainer">
        Forum
    </div>
    <div class="well rightContainer">
        Dodaj novu datoteku
    </div>
    <div class="well rightContainer">
        Javi nam se!
    </div>
</div>