<h2 id="pageTitle">Preddiplomski / Računarstvo / 1. semestar / Matematika 1</h2>

<div class="container left col-lg-8 col-md-8 col-sm-8">
    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Predavanja
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">Knjiga-slapnicar.pdf</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Auditorne vježbe
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="#">vjezba1.pdf</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">vjezba2.pdf</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">rijesene_vjezbe.zip</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">zadaci za blic.jpeg</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">kviz.jpeg</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button id="dropdownMenu" class="btn btn-default dropdown-toggle bigBox" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Ostali materijali
            <span class="caret right"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="smallBox"><a href="/Files/Index">prvi_kol_2013/14.pdf</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">prvi_kol_2014/15.pdf</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">PrviIspit2013.pdf</a></li>
            <li role="separator" class="divider"></li>
            <li class="smallBox"><a href="#">DrugiIspitniRok_2013.pdf</a></li>
        </ul>
    </div>
</div>
<div class="container right col-lg-4 col-md-4 col-sm-4">
    <div class="well rightContainer">
        Forum
    </div>
    <div class="well rightContainer">
        Dodaj novu datoteku
    </div>
    <div class="well rightContainer">
        Javi nam se!
    </div>
</div>